
<div class="col-md-9 container jumbotron">
  <h1 class="headerSize">temstaff works!</h1>
  <div class="row">
    <div class="col-md-4">
      <span>
        <input class="slide-up" id="firstName" type="text" placeholder="First Name" /><label for="firstName">First Name</label>
      </span>
    </div>
    <div class="col-md-4">
      <span>
        <input class="slide-up" id="lastName" type="text" placeholder="Last Name" /><label for="lastName">Last Name</label>
      </span>
    </div>
    <div class="col-md-4">
      <span>
        <input class="slide-up" id="middleName" type="text" placeholder="Middle Name" /><label for="middleName">Middle Name</label>
      </span>
    </div>
  </div>
</div>
