<!-- <section class="container-fluid" id="portfolio">
    <div id="header" class="blue_lin">
        <h3 class="headerFont">Diageo Vendor Management System</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-header></app-header>
      </div>
    </div>
</section> -->
<nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumbFont">
          <li class="breadcrumb-item"><a href="/businessReq">Business Requirement</a></li>
          <li class="breadcrumb-item"><a href="/serviceReq">Service Requirement</a></li>
          <li class="breadcrumb-item"><a href="/projectReq">Project Requirement</a></li>
        </ol>
</nav>
<div>
    <h6>Projects</h6>
    <ag-grid-angular
        #agGrid 
        style="width: 1300px; height: 300px;" 
        title="Projects"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        >
    </ag-grid-angular>
</div>